.About-Col-lg {
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.About-h1 {
  font-size: 4vh;
  padding-top: 5vh;
  text-align: left;
}

.About-h1-contact {
  font-size: 3vh;
  padding-top: 5vh;
  text-align: center;
}

.About-p {
  font-size: 2.3vh;
}

.Contact-padding {
  text-align: center;
  padding-bottom: 20vh;
}
